.project-header{
    height:30vh;
    background-image: url('../Image/keyboard.jpg');
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.project{
    color:white;
    padding-top: 40px;
}

.projects {
    height: 90vh;
    background-color:white;
    color:white;
    padding-top:40px;
  }
.project-img{
  width:600px;
  height: 400px;
}
.project-name, .project-description{
  color: black
}

.project-container{
  border: 2px solid black;
  width:630px;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
}

a.carousel-control.left, a.carousel-control.right{
  background-image: none !important
}

span.glyphicon.glyphicon-chevron-left,span.glyphicon.glyphicon-chevron-right{
  background-color: blue;
  border-radius: 25px;
  width:40px;
  height:40px;
  padding: 1px;
}

span.glyphicon.glyphicon-chevron-left{
  margin-left: 100px;
}

span.glyphicon.glyphicon-chevron-right{
  margin-right:100px;
}
  /*.project-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
  
