.project-right{
  overflow-y: scroll;
  top:0;
  scroll-behavior: smooth;
}
.project-header{
    height:100vh;
    /* background-image: url('../Image/keyboard.jpg');
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* margin-top:20px; */
    background-color: white;
    color:black;
    background-attachment: fixed;
}
.project{
    padding-top: 40px;
    position: relative;
}

.projects {
    background-color:#F0F0F0;
    color:white;
    position:relative;
  }
.project-container{
  height:100vh;
  position: relative;
  box-shadow: inset 2px 1px lightgrey;
}
.project-img{
  width:600px;
  height: auto;
}
.project-name, .project-description{
  color: black
}
.project1{
  background-image: url('../Image/football.png');
  background-position: center;
}
.project2{
  background-image: url('../Image/Duro.png');
  background-position: left;
}
.project3{
  background-image: url('../Image/youth-con.png');
  background-position: left;
}

.project1, .project2, .project3{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-position: left; */
}

/* .project-container{
  border: 2px solid black;
  width:630px;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
} */


  /*.project-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
  
