.project-right{
  overflow-y: scroll;
  top:0;
  scroll-behavior: smooth;
}
.project-header{
    height:90vh;
    background-color: white;
    color:black;
    background-attachment: fixed;
    line-height: 90vh;
}
.project{
    position: relative;
}

.projects {
    background-color:#F0F0F0;
    color:white;
    position:relative;
  }
.project-container{
  height:90vh;
  position: relative;
  box-shadow: inset 2px 1px lightgrey;
  
}

.project-description{
  color: white;
  line-height: 20px;
}
.project-name{
  font-family: Moon-light;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 48px;
  color: #C67D8A;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.name-left{
  padding-right:18px;
}
.project-description{
  padding-bottom: 30px;
}
.project-link{
  width:100px;
  margin: 20px auto 60px auto;
  border:2px solid #C67D8A;
  border-radius: 5px;
  /* background-color: #193441; */
  color:#C67D8A;
  padding: 10px;
  font-size:16px;
}
a{
  text-decoration: none;
}

.project1{
  background-image: url('../Image/football.png');
  background-position: center;
}
.project2{
  background-image: url('../Image/Duro.png');
  background-position: left;
}
.project3{
  background-image: url('../Image/youth.png');
  background-position: center;
}
.project1, .project2, .project3{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.show{
  visibility: visible
}
.none{
  visibility: hidden;
}
.back{
  height: 90vh;
  background-color: rgba(0, 0,0, 0.9);
  position: absolute;
  width: 100%;
  z-index: 1;
}
.box{
  position: absolute;
  z-index: 2;
  height:90vh;
  margin: 160px 60px;
}
/* .project-right::-webkit-scrollbar {
  outline:white;
} */
/* .project-right::-webkit-scrollbar-thumb{
  background-color: black;
} */
/* .project-right::-webkit-scrollbar {  
  width: 1em;
  } 
  .project-right::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  .project-right::-webkit-scrollbar-thumb {  
   background-color: darkgrey; 
   outline: 1px solid slategrey;
  } */