.skills{
    height: 50vh;
    background-color: #F0F0F0;
}
.skills-content{
    margin-top: 30px
}

.skills-content img{
    width: 100px;
    height: 100px;
    margin-left:30px;

}
img.react{
    width: 150px;
}

img.left-margin{
    margin:0px;
}