.contact{
    height: 70vh;
    background-color: #193441;
}
.contact-content{
    margin: 40px auto 0 auto;
    width:600px;
}

.contact-text{
    color: #C67D8A;
    font-size: 24px;
}
.text-header{
    color: #C67D8A;
    font-size: 32px;
}
.button{
    width:200px;
    margin: 20px auto 60px auto;
    border:2px solid #C67D8A;
    border-radius: 5px;
    background-color: #193441;
    color:#C67D8A;
    padding: 10px;
    font-size:16px;
}
.button:hover, .project-link:hover{
    background-color: #C67D8A;
    color: #193441;
}
.left-align{
    margin-left: auto;
}
.contact input[type=text], .contact textarea{
    background-color: #193441;
    border-color: #C67D8A;
    color:#75A5AF;
}
.contact input[type=text]{
    margin:10px;
    width:500px;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}
.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.center{
    margin:120px auto 0 auto;
}
.contact-container{
    height:100vh;
    width: 100%;
    background-image: url('../Image/thanks2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center -180px;
}
.contact textarea{
    width:500px;
    height: 100px;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px;
    margin:10px;
    border:2px inset #C67D8A;
} 
.contact-left{
    display: flex;
    height: 70vh; 
}
.form{
    padding-top: 50px;
}