.nav{
    height:80px;
    float:right;
    /* margin-left: auto;
    z-index: -1; */
}

nav a{
    /* color: #193441; */
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    -webkit-transition: all 0.5s ease;
}

nav a:hover{
    color: #C67D8A;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    color:#193441;
    padding:5px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
/* .fixed{
    position:fixed;
    top:0;
    width:100%
}
.fixed + .content {
    padding-top: 80px;
  } */