.nav{
    height:80px;
    float:right;
}

nav a{
    color: #193441;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    -webkit-transition: all 0.5s ease;
}

a:hover, a:focus{
    color: #C67D8A;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    color:#193441;
    padding:5px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
