@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.header{
  font-size: 64px;
  font-family: 'Lato', sans-serif;
  color: #193441;
  font-weight: bold;
}
.sub-header{
  font-size: 32px; 
  color: #3E606F;
  font-weight: lighter;
}
.sub-title{
  padding-top: 60px;
  font-size: 48px;
  color: #3E606F;
}
.contents{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 150%;
  color: black;
}
.bio{
  padding: 20px 200px;
}