@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: Moon-Bold;
  src: url(Moon2.0-Bold.otf);
}
@font-face {
  font-family: Moon-Regular;
  src: url(Moon2.0-Regular.otf);
}
@font-face {
  font-family: Moon-Light;
  src: url(Moon2.0-Light.otf);
}
@font-face {
  font-family: PoiretOne;
  src: url(PoiretOne-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.header{
  font-size: 64px;
  font-family: Moon-light;
  color: #193441;
  font-weight: bold;
}
.sub-header{
  font-family: PoiretOne;
  font-size: 40px; 
  color: #3E606F;
  font-weight: bolder;
  /* font-style: italic; */
}
.sub-title{
  font-family: Moon-light;
  padding-top: 60px;
  font-size: 64px;
  color: #3E606F;
}
.contents{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 150%;
  color: black;
}
.bio{
  padding: 20px 200px;
}
.left{
  position: absolute;
  z-index: 1;
  width:50%;
}
.right{
  width:50%;
  margin-left: auto;
  height:90vh;
}